<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Tums2U</h2>
    <p>About our company....what can I say? We are the BEST in the WORLD!</p>
  </body>
</html>
