
<h1>About Books</h1>



	<% for(let i = 0; i < books.length; i++) { %>
	
        <product>
            <h2><%= books[i].title %></h2>
            <p><%= books[i].author %></p>
			<p><%= books[i].publishedAt %></p>
    
		</product>
    
	<% } %>
	
