<h2> Application Error </h2>

<p>Ewwww... something funky happened with the application. </p>
<p>It seems our developers are sleeping now...if you <br>
    don't mind, please come back again soon. </p>
	
<h2>We Care About You and Would Love To Do Business With You! </h2>


<hr>
<p> Developers - Here is the technology vomit for your pleasure:</p>

<h2><%= message %></h2>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
