<p> <img src="tumscan.png">                              LOGIN                       CART</p>
<p>         SEARCH CONTROL</p>

<p> <a hrerf="/">Home</a>
    <a fref="/about">About  </a>  
       
       </p>