<table bgcolor='#d1e0e0'> 
	<tr>
		<td width='20%' align='left'>
			<a href="/"> 


<img src="tumscan.png" width="70" height="40">  
                
   </a>
		</td> 

    	<td width='60%' align='center'><h1>Tums2U</h1></td>
		<td width='10%' align='center'>Login</td>
		<td width='10%' align='center'>Shopping Cart</td>
	</tr>
</table>


<p>         SEARCH CONTROL</p>

<p> <li><a hrerf="/">Home</a></li>
    <li><a fref="/about">About</a> </li> 
    <li> <a href="/contact">Contact Us</a> </li>  
       </p>