<table bgcolor='grey' width='100%'> 
	<tr>
		<td width='20%' align='left'>
			<a href="/"> 
				<img src="/images/tumscan.jpg" width="70" height="40"> 
			</a>
		</td> 

    	<td width='60%' align='center'><h1>Tums2U</h1></td>
		<td width='10%' align='center'>
            <a href='/customer/register'>New Customer</a> </br>
				<a href='/customer/login'>Login</a>
    </td>
		<td width='10%' align='center'><a href='/catalog/cart'>Cart</a></td>
	</tr>
</table>

<p> SEARCH CONROL </p>

<ul>
	<li> <a href="/">Home</a> </li>
	<li> <a href="/about">About Us</a> </li>
	<li> <a href="/contact">Contact Us</a> </li>
	<li> <a href="/dyna">Dynamics</a> </li>
    <li> <a href="/product">Products</a> </li>
    <li> <a href="/category">Category</a> </li>
</ul>
