<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> Welcome to Tums2U! </h2>
      
    <p>This website allows people to buy tums online quick and easy.</p>
      
      <p> Date with To String: <%= Date(Date.now()).toString() %> </p>
      
  </body>
</html>
