<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Tums2U</h1>
		<img src="images/tumscan.png">
    <p>This website enables customers to buy tums quick and fast.</p>
  </body>
</html>
