<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tums2U</h1>
    <p>Welcome to The World of Tums</p>
      <img src="images/tumscan.png">
      <p>This website enables customers to buy tums quickly and easily delievered right to your door.</p>
  </body>
</html>
