<h1>Add a New Category </h1>
<form action="/category" method="post" >
	<p>Category Name: <input type="text" name="categoryname" required> </p>
	<p>Description: <textarea name="description" rows="10" cols="30">Description</textarea> </p>
	<button type="submit">Add</button>
</form>