<table bgcolor='lightgray'> <tr>
	<td width='10%' align='left'>
		<a href="/"> 
<img src="images/logo.jpg" width="50" height="60"> </a>
	</td> 
    	<td width='60%' align='center'><h1>rTums2U</h1></td>
   	 <td width='20%' align='center'>Search Control</td>
   	 <td width='20%' align='center'>Login Control</td>
</tr></table>
<ul>
<li> <a href="/">Home </a> </li>
<li> <a href="/about">About </a> </li>
</ul>
