<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Tums2U</h1>
    <p>This website allows customers to buy Tums online.</p>
  </body>
</html>
